*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}


/* nav bar  */
.navBar {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	background-color: #FFFFFF;
	border-radius: 5px;
	align-items: center;
}
.brand{
    display: flex;
}
.brand h3 {
	padding-top: 20px;
	padding-left: 20px;
    word-wrap: break-word;
}
.logo {
	margin-left: 50px;
	padding-top: 10px;
}
.logo img {
    width: 57px;
    border: 1px solid blue;
    border-radius: 50%;
    height: 57px;
  }
  body {
    background-color: #E7E9EB;
  }

.navUl{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px;
}
 .navLink a {
     color: rgba(0,0,0,0.6);;
 }
 .navLink:nth-child(7) {
	padding-right: 66px;
}


/* main  section */

.main{
    width: 100%;
    padding: 0;
}
.container {
    width: 90%;
    margin: 2rem auto;
  }


  /* video css  */
  .vides{
    display: flex;

    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}

.video{
    margin: 10px;
}

iframe {
	width: 262px;
}

.video {
	/* margin: 10px; */
	width: 264px;
	padding: 20px;
}



@media screen and (max-width:1067px) {
    .brand h3 {
        font-size: 12px;
        padding-top: 27px;
    }
    .navLink {
    
        padding: 6px;
        font-size: 14px;
    }
}
@media screen and (max-width:767px) {
    .brand h3 {
        font-size: 12px;
        
        padding-left: 0;
    }
    .brand h3 {
        font-size: 12px;
        padding-left: 3px;
    }
    .logo{
        margin: 0;
    }
}

@media screen and (max-width:567px) {
    .brand h3 {
        font-size: 12px;
        
        padding-left: 0;
    } 
    .navLink {
        padding: 6px;
        font-size: 14px;
    }
}
@media screen and (max-width:667px) {
    .navBar {
        
        flex-direction: column;
    }
    .brand {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
 
    .navLink:nth-child(7) {
        padding-right: 0;
    }
    .brand h3 {
        font-size: 23px;
        
        padding-left: 0;
    }

    .navUl {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .navLink {
        padding: 1px;
        background-color: blue;
        color: white;
        margin: 1px;
        border: 1px solid gold;
        width: 339px;
        justify-content: center;
    }
    .navLink a {
        color: white;
    }

    .navLink:hover {
        background-color: #FFFFFF;
        
    }
	.navLink a:hover{
           color:black;
	}
}
